# Day 1: Report Repair
https://adventofcode.com/2020/day/1

In [13]:
import pandas as pd
import numpy as np

In [2]:
expense_report = [1721, 979, 366, 299, 675, 1456]
expense_report

[1721, 979, 366, 299, 675, 1456]

In [3]:
df = pd.DataFrame(expense_report, columns = ['Amounts'])
df

   Amounts
0     1721
1      979
2      366
3      299
4      675
5     1456

In [4]:
len(expense_report)

6

In [12]:
possible_amounts = []
for amount in expense_report:
    possible_amounts.append(2020 - amount)
    print(2020 - amount)
possible_amounts

299
1041
1654
1721
1345
564

[299, 1041, 1654, 1721, 1345, 564]

In [20]:
res = [key for key, val in enumerate(expense_report) 
                      if val in set(possible_amounts)] 
res

[0, 3]

In [23]:
expense_report[res[0]]*expense_report[res[1]]

514579