# Day 1: Report Repair
https://adventofcode.com/2020/day/1

In [2]:
import pandas as pd

In [1]:
expense_report = [1721, 979, 366, 299, 675, 1456]
expense_report

[1721, 979, 366, 299, 675, 1456]

In [18]:
df = pd.DataFrame(expense_report, columns = ['Amounts'])
df

   Amounts
0     1721
1      979
2      366
3      299
4      675
5     1456

In [9]:
len(expense_report)

6

In [20]:
for am in df:
    a_sum = df[am] + df[am].shift(1)
    print(a_sum)
    
#     df['am_add'] = df['Amounts'] + df['Amounts'].shift(1)
#     df

0       NaN
1    2700.0
2    1345.0
3     665.0
4     974.0
5    2131.0
Name: Amounts, dtype: float64

In [49]:
print(len(expense_report))
for i in range(0,len(expense_report), 1):
    print(i)
    for j in range(i,len(expense_report)-i, 1):
        print(expense_report[i] + expense_report[j])

6
0
3442
2700
2087
2020
2396
3177
1
1958
1345
1278
1654
2
732
665
3
4
5